{% extends 'index.html' %}

{% block head %}

<title> Home Page </title>

{% endblock %}

{% block animated %}

<div class="home-buttons">
    <button onclick="window.location.href='/upload-folder'"><span>Upload</span></button>
    <button onclick="window.location.href='/search'"><span>Search</span></button>
    <!--<button onclick="window.location.href='/search_bp'"><span>Search BP</span></button>-->
    <button onclick="window.location.href='/view_tables'"><span>View Tables</span></button>
</div>

{% endblock %}
